* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green: #1E3932;
    --color-white: #fff;
    --color-black: #000000DE;
    --color-grey: #777777;
    --color-orange: #F47635;
    --color-pink: #FFB1B9;
    --color-purple: #8C0D40;
    --color-loght-blue: #D4E9E2;
}

a { text-decoration: none; }
li { list-style: none; }
html { font-family: 'SoDo Sans',Helvetica,Arial,sans-serif; }
header { width: 100%; }

/* --------------------------- HEADER --------------------------- */

/* BANNER */

.banner {
    background-color: var(--color-green);
    text-align: center;
    color: #fff;
    font-size: 0.8rem;
    padding: 5px 0px;
}

/* NAVBAR */

.navbar_container {
    width: 100%;
    padding: 20px;
    height: 90px;
    background-color: var(--color-white);
    display: flex;
    justify-content: center;
    box-shadow: 0 1px 3px rgb(0 0 0 / 10%);
}

.navbar_container_content {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    gap: 50px;
    z-index: 300;
    align-items: center;
}

.navbar_logo {
    width: 50px;
    height: 50px;
}

.navbar_bars {
    display: none;
}

.iconNav {
    font-size: 1.4rem;
    color: var(--color-grey);
}

.navbar_links {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--color-white);
    padding: 10px 20px;
    z-index: 200;
}

.navbar_links_one {
    display: flex;
    align-items: center;
    gap: 40px;
}

.navbar_links_one > span {
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 1.4px;
    color: var(--color-black);
    cursor: pointer;
}

.navbar_links_one > span:hover {
    color: #00754A;
    text-decoration:underline;
}

.navbar_links_container {
    display: flex;
    gap: 20px;
}

.navbar_links_two {
    display: flex;
    align-items: center;
}
.navbar_links_two figure {
    margin-right: 40px;
    cursor: pointer;
}

.navbar_links_button {
    padding: 7px 16px;
    cursor: pointer;
}

.navbar_links_button:hover {
    opacity: .8;
}

#navbar_links_button_one,
#navbar_links_button_two {
    border-radius: 20px;
    font-weight: 600;
}

#navbar_links_button_one { border: 1px solid var(--color-black); }

#navbar_links_button_two {
    color: var(--color-white);
    background-color: var(--color-black);
}

.activeMenu {
    display: flex !important;
}

@media screen and (max-width: 768px){
    .navbar_container {
        height: 70px;
    }

    .navbar_logo {
        width: 40px;
        height: 40px;
    }

    .navbar_links {
        display: none;
        width: 85%;
        height: 100vh;
        position: absolute;
        top: 95px;
        right: 0px;
        flex-direction: column;
        justify-content: flex-start;
        z-index: 200;
        border: 1px solid #eee;
    }

    .navbar_links_one,
    .navbar_links_two {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar_links_one {
        border-bottom: 1px solid #f1f1f1;
        padding: 30px 0px 40px;
    }

    .navbar_links_one > span {
        font-weight: 500;
    }

    .navbar_links_two {
        padding: 40px 0px;
    }

    .navbar_links_container {
        margin-top: 40px;
    }
    
    .navbar_bars {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* --------------------------- MAIN --------------------------- */

.main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.main_content {
    display: flex;
    width: 100%;
    max-width: 1250px;
    /* min-height: 408.48px; */
    min-height: 355px;
    background-color: #1E3932;
    justify-content: flex-end;
    /* padding-bottom: 20px; */
}

.main_content_img_right {
    flex-direction: row;
}

.main_content_img_left {
    flex-direction: row-reverse;
}

.main_content section {
    width: 50%;
    height: 1fr;
}

/* TITLES CONTAINER */
.main_content_h2_one,
.main_content_h2_two,
.main_content_h2_tree,
.main_content_h2_for,
.main_content_h2_five,
.main_content_h2_six,
.main_content_h2_seven {
    text-align: center;
    font-size: 27px;
    padding: 0px 10px 20px;
    line-height: 40px;
    margin: 0px 10px;
}

.main_content_h2_one,
.main_content_h2_tree,
.main_content_h2_for,
.main_content_h2_five,
.main_content_h2_seven {
    color: var(--color-white);
}

.main_content_h2_two,
.main_content_h2_six {
    color: var(--color-green);
}

.h2_diferent {
    font-size: 20px;
    font-style:italic;
    font-weight: 500;
}

/* P CONTAINER */
.main_content_p_one,
.main_content_p_two,
.main_content_p_tree,
.main_content_p_for,
.main_content_p_five,
.main_content_p_six,
.main_content_p_seven {
    text-align: center;
    padding: 0px 70px;
    margin-bottom: 30px;
    font-weight: 600;
    line-height: 30px;
}

.main_content_p_one,
.main_content_p_tree,
.main_content_p_for,
.main_content_p_five,
.main_content_p_seven {
    color: var(--color-white);
}

.main_content_p_two,
.main_content_p_six {
    color: var(--color-green);
}

.main_content_desc {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

/* A CONTAINER */

.main_content_a_five,
.main_content_a_six {
    padding: 7px 16px;
    border-radius: 20px;
    font-weight: bold;
}

.main_content_a_five { 
    color: var(--color-white); 
    border: 1px solid var(--color-white);
}
.main_content_a_six { 
    color: var(--color-green);
    border: 1px solid var(--color-green);
}

/* IMG CONTAINER */

.main_content_img {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #8C0D40; */
    width: 100%;
    height: 100%;
    justify-content: center;
}

.main_content_img > img{
    width: 100%;
    height: auto;
}


/* BACKGROUND COLOR SECCTION CONTAINER */
#main_content_one { background-color: var(--color-green); }
#main_content_two { background-color: var(--color-orange); }
#main_content_tree { background-color: var(--color-pink); }
#main_content_for { background-color: var(--color-purple); }
#main_content_five { background-color: var(--color-green); }
#main_content_six { background-color: var(--color-loght-blue); }
#main_content_seven { background-color: var(--color-green); }

@media screen and (max-width: 768px) {
    .activeMain::before {
        content: "";
        background: #000;
        position: absolute;
        left: 0;
        top: 10;
        width: 15%;
        height: 100vh;
        opacity: .7;
    }

    .main_content {
        flex-direction: column-reverse;
    }

    .main_content section {
        width: 100%;
        height: 1fr;
    }

    .main_content_desc {
        padding-bottom: 40px;
    }

    /* TITLES CONTAINER */
    .main_content_h2_one,
    .main_content_h2_two,
    .main_content_h2_tree,
    .main_content_h2_for,
    .main_content_h2_five,
    .main_content_h2_six,
    .main_content_h2_seven {
        font-size: 23px;
        padding: 40px 0px 25px;
    }

    .h2_diferent {
        font-size: 20px;
    }

    /* P CONTAINER */
    .main_content_p_one,
    .main_content_p_two,
    .main_content_p_tree,
    .main_content_p_for,
    .main_content_p_five,
    .main_content_p_six,
    .main_content_p_seven {
        font-size: 17px;
        padding: 0px 20px;
    }

}
